---
version: 2.1
orbs:
  release-management: salesforce/npm-release-management@4

workflows:
  version: 2
  test-and-release:
    jobs:
      - release-management/validate-pr:
          filters:
            branches:
              ignore: master
      # This should be re-enabled when ./test/commands/update.test.ts is updated to not use AWS.
      # - release-management/test-package:
      #     matrix:
      #       parameters:
      #         os:
      #           - linux
      #           - windows - Tests don't run on Windows for now
      #         node_version:
      #           - latest
      #           - lts
      #           - maintenance
      - release-management/release-package:
          github-release: true
          requires:
            - release-management/test-package
          filters:
            branches:
              only: master
